* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --r: 8px;
    --space: 0.8em;
    --black: #040404;
    --green: #a2b18a;
    --white: #cfd6db;
    --gray: #5d6b79;
    --dark: #0e0f11;
    --light-black: #282e34;
}

@font-face {
    font-family: DM;
    src: url(./assets/fonts/dm.ttf);
}

body {
    margin: var(--space);
    background: var(--black);
    font-family: DM;
}

main {
    justify-content: space-between;
}

.left-view {
    width: 50%;
    overflow: hidden;
    position: relative;
    border-radius: var(--r);
    height: calc(100vh - var(--space) * 2);
}

.left-view .image-view {
  width: 100%;
  height: 100%;
  position: relative;
  mask-image: linear-gradient(0deg,rgba(255, 255, 255, 0.438) 0%, rgba(0, 0, 0, 1) 20%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  pointer-events: none;
}

.left-view .image-view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    object-position: bottom;
}

.left-view aside {
    bottom: 0;
    width: 100%;
    padding-top: 20em;
    padding-bottom: 4em;
    position: absolute;
    text-align: center;
    color: var(--white);
    backdrop-filter: blur(8px);
    mask-image: linear-gradient(180deg, transparent 0%, #000000 60%);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    background: hwb(83 14% 71% / 0.534);
}

.left-view aside p {
    margin-top: 1em;
}

button {
    width: 100%;
    outline: none;
    font-size: 1em;
    padding: 1em 0;
    cursor: pointer;
    color: var(--black);
    border-radius: var(--r);
    background: var(--green);
    border: solid 1px var(--green);
    margin: 1em 0;
}

.api-login {
    color: var(--white);
    background: #1f2428;
    border-color: var(--light-black);
}

.input {
    width: 100%;
    position: relative;
}

input {
    width: 100%;
    padding: 1em;
    outline: none;
    font-size: 1em;
    color: var(--white);
    transition: .2s ease;
    background: var(--dark);
    border-radius: var(--r);
    border: solid 1px var(--light-black);
}

input:focus {
    box-shadow: 0 0 0 2px var(--green);
}

input::placeholder {
    color: var(--gray);
}

.input input {
    position: relative;
    display: inline-block;
}

.input .icon {
    right: 1em;
    width: 30px;
    bottom: -4%;
    height: 30px;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.input label {
    margin: 0.4em 0;
    font-size: 1.1em;
    color: var(--white);
    display: inline-block;
}

.input:has(+ .input){
    margin-bottom: 1em;
}

.icon {
    width: 20px;
    height: 20px;
    user-select: none;
    margin-right: 0.5em;
    -webkit-user-drag: none;
}

.right-view {
    width: 50%;
}

hr {
    height: 1px;
    border: none;
    background-color: var(--dark);
}

h1 {
    font-size: 1.5em;
    color: var(--white);
}

.gray {
    color: var(--gray);
}

form p {
    margin-top: 0.6em;
    margin-bottom: 1em;
}

.center-view {
    text-align: center;
}

.center-view div {
    margin-bottom: 2em;
}

.white {
    color: var(--white);
}

a {
    margin: 0 0.5em;
    color: var(--green);
    text-underline-offset: 0.3em;
}

.activity .w {
    width: 85%;
}