* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #040404;
    --green: #a2b18a;
    --white: #cfd6db;
    --gray: #5d6b79;
    --space: 1em;
    --r: 8px;
}

body {
    margin: var(--space);
    background: var(--black);
}

.left-view {
    width: 50%;
    overflow: hidden;
    position: relative;
    border-radius: var(--r);
    height: calc(100vh - var(--space) * 2);
}

.left-view .image-view {
    width: 100%;
    height: 100%;
    position: relative;
}

.left-view .image-view img {
    width: 105%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;

}

button {
    width: 100%;
    outline: none;
    font-size: 1em;
    padding: 1em 0;
    cursor: pointer;
    color: var(--black);
    border-radius: var(--r);
    background: var(--green);
    border: solid 1px var(--green);
    margin: 1em 0;
}

.api-login {
    color: var(--white);
    background: #1f2428;
    border-color: #282e34;
}