* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --balck: #040404;
    --green: #A4B088;
    --white: #A8A8A8;
    --gray: #464648;
}

body {
    margin: 2em;
    background: var(--balck);
}